.encabezado {
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between; /* texto izquierda - botón derecha */
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.cerrarsesion {
    background-color: #ec9248;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.cerrarsesion:hover {
    background-color: #c0392b;
}

.caja_principal {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    background-color: white;
    border-radius: 8px;
    align-items: center;

}

.modulos {
    padding: 60px 20px;
    text-align: center;
    background-color: white;
}
.modulos h1 {
    font-size: 2.5em;
    margin-bottom: 40px;
    margin-top: -20px;
    color: black;
    font-family: 'Times New Roman', Times, serif;;
}

.modulos_contenido {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;  /* separación entre tarjetas */
    margin-top: 40px;
}

.boton_cliente{
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
}

.crear_cliente{
    width: 340px;
    background-color: #f3f3f3;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.crear_cliente h2 {
    font-size: 28px;
    font-weight: bold;
}

.crear_cliente img{
    width: 180px;
    height: auto;
    margin-bottom: 20px;
}

.boton_productos{
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
}

.productos_bancarios{
    width: 340px;
    background-color: #f3f3f3;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.productos_bancarios h2 {
    font-size: 28px;
    font-weight: bold;
}

.productos_bancarios img{
    width: 180px;
    height: auto;
    margin-bottom: 20px;
}



.crear_cliente:hover, .productos_bancarios:hover {
    background-color: #e0e0e0; /* Fondo gris claro */
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    transform: translateY(-2px);
}